.App {
  text-align: center;
}

.FlexButtonContainer {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: rgb(193, 225, 233);
  padding-top: 10px;
  padding-bottom: 20px;
}

.OptionButton {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.FlexContainer {
  display: flex;
  background-color: rgb(232, 236, 237);
}

.SideBar {
  width: 30%;
  height: 100vh;
  text-align: left;
  overflow: auto;
  position: sticky;
  top: 0;
}

.SideHeader {
  position: sticky;
  top: 0;
  background-color: white;
}

.PageHeader {
  height: 30px;
  background-color: gold;
}

.Text {
  text-align: justify;
  width: 70%;
  white-space: pre-wrap;
  margin-left: 75px;
  margin-right: 25px;
  margin-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 50px;
  background-color: white;
}

.EntitieOptionBox {
  font-size: small;
  border: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  display: grid;
  grid-template-columns: 70% 15% 15%;
  row-gap: 10px;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
}

#header {
  background-color: yellow;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.EntitieSection {
  align-self: center;
  border-width: 1px;
  overflow-wrap: break-word;
  padding: 0px 2px 0px 0px;
}

.EntitieText {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 30% 70%;
}


.Test {
  background-color: red;
}